// Cores usadas no tema
$color-dark-background = #000000
$color-dark-typography = #000000
$color-primary = #EFA118
$color-contrast = #E01414

// Variáveis
$screen-background = $color-dark-background
$button-content-colot = $color-dark-typography

// Tipografias usadas no tema
$typography-title = {
  font-family: unquote("'Montserrat', sans-serif"),
  font-weight: 300,
  font-size: 14pt,
}

$typography-normal = {
  font-family: unquote("'Montserrat', sans-serif"),
  font-weight: 300,
  font-size: 14pt,
}
